<%- model_class = Restaurant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>

<dl class="dl-horizontal">
  <dt><strong>Owner:</strong></dt>
  <dd><%= User.find(@restaurant.user_id).name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @restaurant.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @restaurant.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @restaurant.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @restaurant.phone %></dd>
  <% if @restaurant.categories != [] %>
    <% if @restaurant.categories.length == 1 %>
      <dt><strong>Category:</strong></dt>
    <% else %>
     <dt><strong>Categories:</strong></dt>
    <% end %>
    <% @restaurant.categories.each do |category| %>
    <dd><%= link_to category.name, category_path(category) %></dd>
    <% end %>
  <% end %>
</dl>

</div>
<% if owner? %>
  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                restaurants_path, :class => 'btn'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_restaurant_path(@restaurant), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                restaurant_path(@restaurant),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>
<% end %>

<p>
  <img class="img-rounded">
    <%= image_tag @restaurant.photo_url(:masthead).to_s %>
  </img>
</p>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>


<% if owner? %>
  <%= render :partial => 'reservation_show' %>
<% else %>
  <%= render :partial => 'reservation_form' %>
<% end %>




<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
